#entradas {
    margin: 15px;
}

#div-alfabeto {
    margin-bottom: 15px;
    background-color: #e9ecef;
    padding: 5px;
}

.palavras {
    margin-right: 5px;
    font-size: 15px;
}

#alfabeto {

}

.estado-atual {
    background-color: green;
}

.proximo-estado {
    background-color: lightgreen;
}